{% load i18n %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" dir="ltr">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="it" />
	<meta name="robots" content="NONE,NOARCHIVE" />

	<title>{% trans "OpenVPNmon download certificate" %}</title>
    <style type="text/css">
    ul { line-height: 2em; }
    </style>
</head>

<body>

<h1>{% trans "How to get access to the network" %}</h1>
<h2>{% trans "WARNING" %}: {% trans "this page will not be available after you have downloaded certificate and configuration files" %} </h2>

{% blocktrans %}
<ul>
<li class="level1"><div class="li"> Download OpenVPN software </div>
<ul>
<li class="level2"><div class="li"> <strong>Windows</strong> version: <a rel="nofollow" title="http://swupdate.openvpn.net/community/releases/openvpn-2.2.0-install.exe" class="urlextern" href="http://swupdate.openvpn.net/community/releases/openvpn-2.2.0-install.exe">http://swupdate.openvpn.net/community/releases/openvpn-2.2.0-install.exe</a></div>
</li>
<li class="level2"><div class="li"> <strong>GNU/Linux</strong> version is usually available in the system software package manager (p.e: <code>Ubuntu Software Center</code>)</div>
</li>
<li class="level2"><div class="li"> If not, you can install it by hand the <strong>GNU/Linux</strong> version from <a rel="nofollow" title="http://swupdate.openvpn.net/community/releases/openvpn-2.2.0.tar.gz" class="urlextern" href="http://swupdate.openvpn.net/community/releases/openvpn-2.2.0.tar.gz">http://swupdate.openvpn.net/community/releases/openvpn-2.2.0.tar.gz</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Run as administrator the downloaded file and install the OpenVPN software</div>
</li>
{% endblocktrans %}
<li class="level1"><div class="li"> <a href="{{ CERTS_PUBLIC_DOWNLOAD_URL_BASE }}{% url 'cert-download' token=client.cert_distribution_token client_id=client.id %}">{% trans "Download certificate and configuration files" %}</a></li>
{% blocktrans %}
<li class="level1"><div class="li"> Extract <strong>configuration files</strong> in the OpenVPN configuration folder</div>
<ul>
<li class="level2"><div class="li"> <strong>Windows</strong> default is <code>C:\Program Files\OpenVPN\config</code></div>
</li>
<li class="level2"><div class="li"> <strong>GNU/Linux</strong> (Ubuntu, Debian) default is <code>/etc/openvpn/</code></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Start the OpenVPN service:</div>
<ul>
<li class="level2"><div class="li"> In <strong>Windows</strong> right-click on OpenVPN GUI icon and select <b>RUN AS ADMINISTRATOR</b></div>
</li>
<ul>
<li class="level3"><div class="li"> Then 2 computers will appear in the bottom-right of the screen, in the notification area</div></li>
<li class="level3"><div class="li"> Right-click on those 2 computers and select <b>Connect</b> </div></li>
<li class="level3"><div class="li"> Wait that computers become green and that connection succeed message is shown</div></li>
</ul>
<li class="level2"><div class="li"> In <strong>GNU/Linux</strong> (Ubuntu, Debian) start the service typing in terminal:  <code>service openvpn start</code></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Open Mozilla Firefox or Google Chrome browsers and go to <a rel="nofollow" title="{{ VPN_HOME_PAGE }}" class="urlextern" href="{{ VPN_HOME_PAGE }}">{{ VPN_HOME_PAGE }}</a></div>
</li>
</ul>
{% endblocktrans %}

</body>
</html>

