{% extends "admin/base_site.html" %}
{% load i18n %}

{% block branding %}
<h1 id="site-name">Distribuzione certificati</h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="/{{ URL_PREFIX }}admin/">{% trans "Home" %}</a> &rsaquo;
     <a href="/{{ URL_PREFIX }}admin/ewonconfig/">Ewonconfig</a> &rsaquo;
     <a href="/{{ URL_PREFIX }}admin/ewonconfig/chamberuser/">Utenti di rete ACS-Service</a> &rsaquo;
     Distribuzione certificati
</div>
{% endblock %}

{% block content %}

{% for client in objs %}
    <p><div style="font-size:x-large; display:inline;">{{ client }}</div>
     <div style="display:inline;"> (
    {% if client.email %}
         {# href="mailto:{{client.email}}?Subject={% trans "VPNConfiguration" %}&body={% trans "You can download your configuration at the following url: %}\n" %}{% url 'pre-cert-download' token=client.cert_distribution_token client_id=client.id %}"> #}
        {{ client.email }}
    {% else %}
         {% trans "email address not set" %}
    {% endif %}
    )</div>
    </p>
    <ul>
        <li>token: {{ client.cert_distribution_token }}</li>
        <li>url: <a href="{{ CERTS_PUBLIC_DOWNLOAD_URL_BASE }}{% url 'pre-cert-download' token=client.cert_distribution_token client_id=client.id %}">{% url 'pre-cert-download' token=client.cert_distribution_token client_id=client.id %}</a></li>
    </ul>
    </p>
{% endfor %}

{% endblock content %}
