<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 

{% load i18n %}
{% spaceless %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" dir="ltr">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="it" />
	<meta name="robots" content="NONE,NOARCHIVE" />
	
	<title>{% trans "OpenVPNmon download certificate" %}</title>
</head> 

<body>
<h1>{% trans "Download your certificate" %}</h1>
    {% include "display_cert.html" %}
</body>
</html>
{% endspaceless %}

